<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div class="content">
      <%- include('../partials/navbar'); %>
      <div class="input-form">
        <h3>Create a message</h3>
        <form method="POST">
          <label for="title">Title</label>
          <input
          required
            name="title"
            placeholder="title"
            type="text"
            value="<%= locals.message ? locals.message.title : '' %>"
          />
          <% if (locals.errors != undefined && errors.find(element =>
          element.param == "title")) { %> <%= errors.find(element =>
          element.param == "title").msg %> <% } %>

          <label for="text">Text</label>
          <textarea required name="text" id="text" cols="20" rows="10"><%= locals.message ? locals.message.text : '' %></textarea>
          <% if (locals.errors != undefined && errors.find(element =>
          element.param == "text")) { %> <%= errors.find(element =>
          element.param == "text").msg %> <% } %>
          <button>Post</button>
        </form>
      </div>
    </div>
  </body>
</html>
