<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div class="content">
      <%- include('../partials/navbar'); %>
      <div class="input-form">
        <h3>Create an account</h3>
        <form action="" method="POST">
          <label for="username">Username</label>

          <input
            name="username"
            placeholder="username"
            type="text"
            value="<%= locals.user ? locals.user.username : '' %>"
          />

          <% if (locals.errors != undefined && errors.find(element =>
          element.param == "username")) { %>
          <p class="error-message">
            <%= errors.find(element => element.param == "username").msg %>
          </p>
          <% } %> <% if (locals.errors != undefined && errors.find(element =>
          element.param == "duplicate_username")) { %>
          <p class="error-message">
            <%= errors.find(element => element.param ==
            "duplicate_username").msg %>
          </p>
          <% } %>
          <label for="fullname">Full name</label>
          <input
            name="fullname"
            placeholder="John Doe"
            type="text"
            value="<%= locals.user ? locals.user.fullname : '' %>"
          />
          <% if (locals.errors != undefined && errors.find(element =>
          element.param == "fullname")) { %>
          <p class="error-message">
            <%= errors.find(element => element.param == "fullname").msg %>
          </p>
          <% } %>
          <label for="password">Password</label>
          <input name="password" type="password" />
          <% if (locals.errors != undefined && errors.find(element =>
          element.param == "password")) { %>
          <p class="error-message">
            <%= errors.find(element => element.param == "password").msg %>
          </p>
          <% } %>
          <label for="confirm-password">Confirm Password</label>
          <input name="confirm-password" type="password" />
          <% if (locals.errors != undefined && errors.find(element =>
          element.param == "confirm-password")) { %>
          <p class="error-message">
            <%= errors.find(element => element.param == "confirm-password").msg
            %>
          </p>
          <% } %>
          <button>Sign Up</button>
        </form>
      </div>
    </div>
  </body>
</html>
